<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            {{ if .Site.Data.contact.phone }}
            <li><strong>Telefoon: </strong>{{ .Site.Data.contact.phone }}</li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li><strong>E-mail: </strong><a href="mailto:{{ .Site.Data.contact.email }}">
                {{ .Site.Data.contact.email }}</a></li>
              {{ end }}
          </ul>
          <ul>
            <li class="zerostatic">Met dank aan <a href="https://www.zerostatic.io/theme/hugo-hero/">www.zerostatic.io</a> voor het open source ontwerp <b>Hero</b> en <a href="https://www.flaticon.com">Flaticon</a> voor het beschikbaar stellen van icons.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
