<script src="https://unpkg.com/vue@3"></script>

<div id="app">
  <span v-text="message"></span>
</div>

<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')
</script>