<table class="table">
    <thead>
      <tr>
        <th scope="col">Vergelijking</th>
        {{ range .Site.Data.stack }}

        {{ if .url }}
        <th scope="col"><a href="{{ .url }}" target="_blank">{{ .name }}</a></th>

        {{ else }}
        <th scope="col">{{ .name }}</th>
        {{ end }}
        
        {{ end }}
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Geen analyse van jouw data</th>
        {{ range .Site.Data.stack }}
        <td>
          {{ partial "checkmark.html" (dict "checked" .no_data_analyse) }}
        </td>
        {{ end }}
      </tr>
      <tr>
        <th scope="row">Altijd opgeslagen in Nederland</th>
        {{ range .Site.Data.stack }}
        <td>{{ partial "checkmark.html" (dict "checked" .always_in_netherlands) }}</td>
        {{ end }}
      </tr>
      <tr>
        <th scope="row">Webinterface en apps</th>
        {{ range .Site.Data.stack }}
        <td>{{ partial "checkmark.html" (dict "checked" .web_and_apps) }}</td>
        {{ end }}
      </tr>
      <tr>
        <th scope="row">Two-factor authentication</th>
        {{ range .Site.Data.stack }}
        <td>{{ partial "checkmark.html" (dict "checked" .two_factor) }}</td>
        {{ end }}
      </tr>
      <tr>
        <th scope="row">SFTP-ondersteuning</th>
        {{ range .Site.Data.stack }}
        <td>{{ partial "checkmark.html" (dict "checked" .sftp) }}</td>
        {{ end }}
      </tr>
      <tr>
        <th scope="row">WebDAV-ondersteuning</th>
        {{ range .Site.Data.stack }}
        <td>{{ partial "checkmark.html" (dict "checked" .webdav) }}</td>
        {{ end }}
      </tr>
      <tr>
        <th scope="row">Kosten</th>
        {{ range .Site.Data.stack }}
        <td>{{ partial "checkmark.html" (dict "checked" .price) }}</td>
        {{ end }}
      </tr>
    </tbody>
  </table>